<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.videoservice.mapper.OutdoorVideoCollectMapper">
    <select id="countCollectNum" parameterType="Long" resultType="VideoVO">
        SELECT
        ov.id,
        ov.title,
        COUNT( ovc.`video_id` ) AS collectNum
        FROM
        outdoor_video ov
        LEFT JOIN outdoor_video_collect ovc ON ov.`id` = ovc.`video_id`
        WHERE
        ov.`id` = #{id} AND ovc.`is_deleted`=0; <!--仅查询视频未被逻辑删除的被收藏数据-->
    </select>

    <select id="countTotalCollectNum" parameterType="Long" resultType="UpTotalDataVO">
        SELECT
        ou.`id`,
        COUNT( ovc.`up_id` ) AS totalCollectNum
        FROM
        outdoor_user ou
        LEFT JOIN outdoor_video_collect ovc ON ou.`id` = ovc.`up_id`
        WHERE
        ou.`id` = #{id} AND ovc.`is_deleted`=0;<!--仅查询用户所有视频未被逻辑删除的总被收藏数据-->
    </select>

</mapper>
